body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-transform: capitalize;
  text-align: center;
}

ul{
    list-style: none;
}

#new-task {
    padding: 15px 15px;
    font-size: larger;
    border: none;
}

#add-task{
    padding: 7px 15px;
    font-size: xx-large;
    color: black;
    background: white;
    border: none;
    cursor: pointer;
}

:focus{
    outline: none;
}

#add-task:hover{
    background: black;
    color: white;
}

#inputData {
    width: fit-content;
    border: 1px solid gray;
    margin: auto;
    border-radius: 5px;
    padding: 7px 13px;
}
