@media screen and (max-width: 768px) {
  .cef {
    background-color: rgb(33, 146, 245);
  }
  .gmtbc {
    border: 2px solid #002f26;
    font-size: 22px;
    width: 100%;
    border-radius: 16px;
    margin: auto;
    padding: 10px;
    background: #fff;
    position: static;
    z-index: 2;
  }
  .gmtbc h1 {
    font-size: 23px;
  }
  .elfo{
    height: fit-content;
  }
  .cef {
    border-radius: 35px !important;
    background: #002f26;
    color: #fff;
    z-index: 2;
    width: 239px;
    /* position: absolute; */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
    font-size: 18px;
  }
  .cef a h1 {
    font-size: 20px;
  }
  .sktxt {
    font-size: 20px;
  }
  .sktxt ~ p {
    font-size: 15px;
    color: #f7931e;
  }
  #section-1 .card {
    border-radius: 11px;
    box-shadow: 0px 3px 14px #00000029;
    border: none;
  }
  .sk-city img {
    width: 100%;
    align-self: flex-start;
  }
  .sk-city span {
    font-size: 14px;
    font-weight: bold;
  }
  .eligibility_btn {
    font-size: 17px;
  }
  .sk-confused {
    font-size: 12px;
    color: #fff;
    font-weight: 700;
  }
  .elfo {
    box-shadow: 5px 0px 10px #00000029;
    border-radius: 16px;
    overflow: hidden;
    /* margin: 1rem; */
  }
  .card-img {
    width: 100%;
  }
  .sk-small {
    border: 2px solid #002f26;
    padding: 10px;
    height: 220px;
    border-radius: 19px;
  }

  .sk-matched {
    border: none;
    background-color: transparent;
  }
  .sk-matched h1 {
    font-size: 18px;
    width: 100%;
    margin-top: 10px;
  }
  .skCrousel {
    height: 180px;
    display: flex;
    justify-content: center;
    top: -64px;
    z-index: -1;
    border: none;
  }

  .skCrousel > div {
    padding: 20px 5px;
    width: 100%;
    overflow: hidden;
  }
  .skCrousel img {
    padding: 0px;
    margin: auto;
    width: 50px;
    height: 50px;
  }
  .sk-free {
    background: #002f26;
    border: 2px solid #002f26;
    width: max-content;
    padding: 10px 20px;
    margin-top: -30px;
    font-size: 16px;
  }
  .navbar .dropdown-menu {
    border: none !important;
  }
  .fillterBox {
    width: 320px;
    right: 4%;
    background: #002f26;
    color: white;
}
  
}

@media (min-width: 768px) and (max-width: 1024px) {
  .slider {
    position: relative;
    background: rgb(0 0 0);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    height: fit-content;
    overflow: hidden;
  }
}
