*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#month {
    padding: 15px 20px;
    font-size: x-large;
    margin-bottom: 15px;
    width: 300px;
    margin-left: 40%;
}

.calender{
    display: flex;
    justify-content: space-around;
}

.calender > div {
    padding: 20px 50px;
    width: 23%;
    margin-top: 30px;
    background-color: lightgrey;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

#Week-1,#Week-2,#Week-3,#Week-4 {
    /* border: 1px solid red; */
    height: 63vh;
    overflow-y: hidden;
}

.single{
    background-color: #fff;
    margin: 10px;
    padding: 10px;
    text-align: start;
}

button,#weekUpdate {
    padding: 10px 25px;
    margin: 10px;
}

p{
    margin: 10px;
    text-transform: capitalize;
}

@media only screen and (max-width: 900px) {
    .calender{
        /* border: 1px solid; */
        display: flex;
        flex-direction: column;
        padding: 10px;
    }
    .calender > div {
        /* border: 1px solid; */
        width: 100%;
        margin-top: 30px;
        background-color: lightgrey;
        border-top-right-radius: 20px;
        border-top-left-radius: 20px;
    }
    #Week-1,#Week-2,#Week-3,#Week-4 {
        /* border: 1px solid red; */
        width: 100%;
        height: 65vh;
        overflow-y: hidden;
    }
}
