*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}

form{
    width: 555px;
    margin: 10px auto;
    padding: 10px;
}

input, select {
    padding: 15px 20px;
    font-size: large;
    width: 100%;
    margin-bottom: 15px;
}

textarea {
    width: 100%;
    height: 200px;
    font-size: x-large;
    margin-bottom: 15px;
    padding: 20px;
}

#create {
    margin: 25px;
}

